@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


header{
    background-image: url(images/Hero-bg.png);
    background-size: cover;
    max-width: 100%;
    margin: auto;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
nav h3{
    font-size: 34px;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
/* shared style */
.primary-btn{
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    background-color:#4E47FF ;
    color: white;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}
.template-container{
    text-align: center;
    padding: 152px 250px;
}
.template-name{
    font-size: 65px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #252432;
   
}
main{
    max-width: 1140px;
    margin:100px auto;
}
.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin:116px auto ;
}
.action-content{
    width: 500px;
}
.action-image img{
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #252432;
}
.action-description{
    font-size: 24px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #25243280;
}
/* action section end */
.users{
    background-color: #4E47FF1A;
    border-radius: 24px;
    padding: 50px 80px;
}

.users-title{
    font-size: 38px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #252432;
    text-align: center;
}
.user-content{
    display: flex;
    justify-content: space-between;
  
}
.user{
    line-height: 0;
    text-align: center;
}
.user h2{
    font-size: 80px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
}
.user p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #00000080;
}
/* user section end */
.our-users-box{
    display: flex;
    justify-content: space-between;
}
.our-users h3{
    font-size: 42px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #252432;
    text-align: center;
}
.user-card{
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px;
    width: 365px;
}

.card-title{
    font-size: 24px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color:#1E1E1E ;
}
.card-description{
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color:#1E1E1E ;
}
.reviewer-name{
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color:#757575 ;
    margin-left: 30px;
}

/* end of the our user section */

.ready-container{
    padding: 71px 150px;
    text-align: center;
}
.ready-container h2{
    font-size: 50px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #000000;
    line-height: 0;
}
.ready-container p{
    font-size: 16px;
    font-weight: 400;
    color:#00000080;
    font-family: "Inter", sans-serif;
}
.ready-container img{
    border-radius: 48px;
    margin-top: 20px;
}